#orderConfirm {
  display: none;
  background-color: #e6e6e6;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 20px;
}

#orderConfirm h2 {
  text-align: center;
  font-family: serif;
  font-size: 40px;
}

.header {
  background-color: #008000;
  color: white;
  text-align: center;
  height: 100px;
  margin-top: -22px;
}

.header h1{
  padding-top: 15px;
  font-size: 60px;
}

.header img{
  float: left;
}

.motto {
  color: #ff1a1a;
  border-bottom: 2px solid #ff1a1a;
  margin-bottom: 30px;
}

.indent {
  padding-left: 15px;
}
