#orderConfirm {
  display: none;
}

.header {
  background-color: #008000;
  color: white;
  text-align: center;
  height: 100px;
  margin-top: -22px;
}

.header h1{
  padding-top: 15px;
  font-size: 60px;
}

.header img{
  float: left;
}

.motto {
  color: #ff1a1a;
  border-bottom: 2px solid #ff1a1a;
  margin-bottom: 30px;
}
